body{
	background-color:beige;
}

/* Class selector */
.select-me{
	color:rebeccapurple;
	background-color: royalblue;
}

/* Id selector */
#select-me{
	color:rgb(165, 34, 158);
	font-size: 50px;
    font-style: italic;
    font-weight: bold;
    background-color: bisque;
}

/*HTML Tag selector */
p {
	font-size: 24px;
	color: blue;
}

.red {
	color: red;
}
/*Text alignment*/	
p{
	text-align: center;
}
/*Font size*/
p{
	font-size: 32px;
}

/*Font weight*/
p{
	font-weight: 700;
}

/*Font family*/
p{
	font-family:Verdana, Geneva, Tahoma, sans-serif
}

.panda{
	height:200px;
	width:300px;
}

/* border */
.rocket{
	border-width:2px;
	border-style: solid;
	border-color: black;
}
/* The same border-shorter */
.rocket{
	border: 2px solid black;
	border-radius: 50px;
}

/* Margins */
.starlord{
	margin-top: 20px;
	margin-right: 30px;
	margin-bottom: 20px;
	margin-left: 30px;
}


