body{
	background-color:beige;
}

/* Class selector */
.select-me{
	color:rebeccapurple;
}

/* Id selector */
#select-me{
	color:rgb(165, 34, 158);
}

/*HTML Tag selector */
p {
	font-size: 24px;
	color: blue;

}